header {
    background-color: red;
    padding: 20px;
}

marquee {
    color: white;
    background-color: black;
}
footer {
    background-color: red;
    color: #fff;
    padding: 20px;
  }